﻿@model IEnumerable<ToDoList.Models.ToDo>

<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

<script>
    $(document).ready(function () {
        $("#sortable").sortable({
            update: function (event, ui) {
                var itemIds = "";
                $("#sortable").find(".taskSingleInline").each(function () {
                    var itemId = $(this).attr("data-taskid")
                    itemIds = itemIds + itemId + ",";
                });
                $.ajax({
                    url: '@Url.Action("UpdateItem","ToDoes")',
                    data: { itemIds: itemIds },
                    type: 'POST',
                    success: function (data) {

                    },
                    error: function (xhr, status, error) {

                    }
                });
            }
        });
    });
</script>
<style>
    #sortable tr:hover{
        background-color:#0094ff;
        color:#fff;
    }
</style>

<div id="progressBarToDo">
    <div class="progress">
        <div class="progress-bar" role="progressbar"
             style="width:@(Html.AttributeEncode(ViewBag.Percent))%"><p>@(ViewBag.Percent)% COMPLETED</p></div>
        </div>
    </div>

    </div>

<div class="container">
    <div class="col-md-9">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation"><a href="#ToDoList" aria-controls="ToDoList" role="tab" data-toggle="tab">ToDoList</a></li>
            <li role="presentation" class="active"><a href="#DoingList" aria-controls="DoingList" role="tab" data-toggle="tab">DoingList</a></li>
            <li role="presentation"><a href="#DoneList" aria-controls="DoneList" role="tab" data-toggle="tab">DoneList</a></li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane" id="ToDoList">

                <table class="table table-bordered">
                    <tbody id="sortable" style="cursor:pointer;">


                        @foreach (var item in Model.OrderBy(o => o.RowNo))
                        {
                            if (item.IsAdmin)
                            {
                                if (!item.IsDone1 && !item.IsDone2)
                                {
                                    <tr>
                                        <td class="taskSingleInline" id="task@(item.Id)" data-taskid="@(item.Id)">
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            @Html.CheckBoxFor(modelItem => item.IsDone, new { id = item.Id, @class = "ActiveCheck" }) Todo?
                                            @Html.CheckBoxFor(modelItem => item.IsDone1, new { id = item.Id, @class = "ActiveCheck1" }) Doing!
                                            @Html.CheckBoxFor(modelItem => item.IsDone2, new { id = item.Id, @class = "ActiveCheck2" }) Done.
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                        </td>
                                    </tr>
                                }
                            }

                        }

                    </tbody>
                </table>
            </div>

            <div role="tabpanel" class="tab-pane active" id="DoingList">
                <table class="table table-bordered">
                    <tbody id="sortable" style="cursor:pointer;">

                        @foreach (var item in Model.OrderBy(o => o.RowNo))
                        {
                            if (!item.IsDone2 && item.IsDone1)
                            {
                                <tr>
                                    <td class="taskSingleInline" id="task@(item.Id)" data-taskid="@(item.Id)">
                                        <div class="Doings">@Html.DisplayFor(modelItem => item.Description)</div>

                                    </td>
                                    <td>
                                        @Html.CheckBoxFor(modelItem => item.IsDone, new { id = item.Id, @class = "ActiveCheck" }) Todo?
                                        @Html.CheckBoxFor(modelItem => item.IsDone1, new { id = item.Id, @class = "ActiveCheck1" }) Doing!
                                        @Html.CheckBoxFor(modelItem => item.IsDone2, new { id = item.Id, @class = "ActiveCheck2" }) Done.
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

            <div role="tabpanel" class="tab-pane" id="DoneList">
                <table class="table table-bordered">
                    <tbody id="sortable" style="cursor:pointer;">

                        @foreach (var item in Model.OrderBy(o => o.RowNo))
                        {
                            if (item.IsDone2)
                            {
                                <tr>
                                    <td class="taskSingleInline" id="task@(item.Id)" data-taskid="@(item.Id)">
                                        <div class="CompletedToDo">@Html.DisplayFor(modelItem => item.Description)</div>

                                    </td>
                                    <td>
                                        @Html.CheckBoxFor(modelItem => item.IsDone, new { id = item.Id, @class = "ActiveCheck" }) ToDo?
                                        @Html.CheckBoxFor(modelItem => item.IsDone1, new { id = item.Id, @class = "ActiveCheck1" }) Doing!
                                        @Html.CheckBoxFor(modelItem => item.IsDone2, new { id = item.Id, @class = "ActiveCheck2" }) Done.
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <script src="~/Custom_Scripts/AddCheckBoxListener.js"></script>
    <script src="~/Custom_Scripts/AddCheckBoxListener1.js"></script>
    <script src="~/Custom_Scripts/AddCheckBoxListener2.js"></script>
